.container {
  margin-top: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.equipamentos__title {
  font-family: inherit;
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 6rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

