<app-header></app-header>
<div class="container container__cadastro">
  <h1 class="altera__colaborador__titulo">ALTERAR COLABORADOR</h1>
  <div class="altera__colaborador__form">
    <form #f="ngForm" class="needs-validation" #form novalidate>
      <div>
        <label class="form-label" for="email">EMAIL</label>
        <input class="form-control bg-light altera__nome__input" type="email" id="email" readonly ngModel value="{{usuarios.email}}" name="email" />
      </div>

      <div>
        <label class="form-label" for="nome">NOME <span class="alterar__senha__erro">*</span></label>
        <input class="form-control bg-light altera__nome__input" type="text" id="nome" [(ngModel)]="usuarios.nome" name="nome" required/>
      </div>

      <div class="altera__colaborador__botoes">
        <button class="btn__reset__senha" type="submit" (click)="resetarSenha(usuarios.id)">RESETAR SENHA</button>
        <button class="btn__alterar" type="submit" (click)="validate($event, usuarios.id, f.value)">ALTERAR</button>
      </div>
    </form>
  </div>

</div>
