.card-geral{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-geral:hover {
  box-shadow: 4px 20px 40px hsl(0 4% 15% / 30%);
  transition: 0.3s;
}

.card {
  border: none;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body{
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4rem;
}

.card-title{
  font-weight: 300;
  font-size: var(--font-size-xsm);
  color: var(--secondary-dark-color);
  letter-spacing: 0.05em;
  margin-bottom: var(--margin-sm);
}

.card-text {
  font-weight: 700;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}

.card-text-tipo2{
  font-weight: 300;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}

.card-text-tipo3{
  font-weight: 500;
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}

.card-text-tipo4{
  font-weight: 500;
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: var(--primary-red);
}

.card-text-tipo4:hover{
  text-decoration: underline;
}

@media screen and (min-width: 768px) {

  .card-geral{
    display: flex;
    flex-direction: row;
  }
}
