#card {
  border: none;
  position: relative;
  width: 26.4rem;
}

#card:hover{
  box-shadow: 4px 20px 40px hsl(0 4% 15% / 30%);
  transition: 0.3s;
}


.container-link:hover{
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.item__img {
  width: 26.4rem;
  height: 26.4rem;
  padding: 1rem;
}

.card__info {
  padding: 1.4rem;
}

#card-info__title {
  margin-bottom: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modelo-equipamento {
  font-family: inherit;
  font-weight: 700;
  font-size: var(--font-size-sm);
  /* line-height: 2rem; */
  letter-spacing: 0.05em;
}

.status-equipamento {
  font-family: inherit;
  font-weight: 300;
  font-size: var(--font-size-xsm);
  /* line-height: 1.8rem; */
  letter-spacing: 0.05em;

  color: var(--primary-red);
}

.status-equipamento-indisponivel{
  color: var(--secondary-dark-color);
}

.descricao-equipamento {
  font-family: inherit;
  font-weight: 300;
  font-size: var(--font-size-xsm);
  line-height: 1.5rem;
  text-align: center;

}


