.gerenciar__equipamento__container {
  max-width: 106.8rem;
  margin: 21rem auto;
  width: 100%;
  margin-bottom: 10rem;
}

.gerenciar__equipamentos__title {
  font-family: inherit;
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 6rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.gerenciar__equipamentos__busca {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gerenciar__equipamentos__input {
  padding: 2rem 2.6rem;
  width: 73.3rem;
  height: 5rem;

  font-weight: 300;
  font-size: var(--font-size-sm);
  line-height: 2rem;
  letter-spacing: 0.1em;

  border-radius: 1.3rem;

  color: #1b1b1b;
}

.btn-buscar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: white;
  height: 5rem;
  width: 16rem;
  background-color: var(--primary-dark-color);
  margin-left: 3rem;
}

.btn-buscar:hover {
  background-color: var(--stoke-gray);
}

.select-group {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.select {
  width: 30rem;
  height: 4.6rem;
  border-radius: 1.3rem;
  font-size: var(--font-size-sm);
}

.gerenciar__equipamento__display{
  margin-top: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gerenciar__equipamento__paginacao{
  display: flex;
  justify-content: center;
}

.gerenciar__equipamento__paginacao button{
  margin-block: 0;
}

.gerenciar__equipamento__paginacao__p{
  margin-inline: var(--margin-sm);
  margin-bottom: 0;
}
