<!-- HEADER -->

<header class="header h-auto d-flex" id="header">
  <div class="logo" routerLink="">
    <img
      src="../../../assets/img-header/Logo Preto.png"
      alt="Logotipo escrito Go Video"
    />
  </div>

  <nav class="navbar navbar-expand-md">
    <div class="container-fluid div__menu">
      <button
        class="navbar-toggler btn"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item menu__item">
            <a class="nav-link active" aria-current="page" routerLink="">HOME</a>
          </li>
          <li class="nav-item dropdown menu__item">
            <a
              class="nav-link dropdown-toggle active"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              EQUIPAMENTOS
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item submenu__item" routerLink="/cadastrar-equipamentos">CADASTRAR</a>
              </li>
              <li><a class="dropdown-item submenu__item" routerLink="/gerenciar-equipamentos">LISTAR</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown menu__item">
            <a
              class="nav-link dropdown-toggle active"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              COLABORADORES
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item submenu__item" routerLink="/cadastrar-colaboradores">CADASTRAR</a>
              </li>
              <li><a class="dropdown-item submenu__item" routerLink="/gerenciar-colaboradores">LISTAR</a></li>
            </ul>
          </li>
          <li class="nav-item menu__item">
            <a class="nav-link active" routerLink="/historico-emprestimos">EMPRÉSTIMOS</a>
          </li>
          <li class="nav-item dropdown menu__item menu__perfil">
            <a
              class="nav-link dropdown-toggle active"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              PERFIL
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item submenu__item" href="#">MINHA ÁREA</a>
              </li>
              <li><a class="dropdown-item submenu__item" href="#">DESLOGAR</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="perfil">
    <div class="nav-link" data-bs-toggle="dropdown">
      <img
        src="../../../assets/img-header/imagem-perfil.svg"
        alt="Logotipo escrito Go Video"
      />
    </div>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item submenu__item" href="#">MINHA ÁREA</a>
      </li>
      <li><a class="dropdown-item submenu__item" href="#">DESLOGAR</a></li>
    </ul>
  </div>
</header>
