.home__container {
  position: relative;
  margin-top: 9.4rem;
  max-width: 100%;
  min-height: calc(100vh - 12.9rem);
}

.home__sessao {
  color: var(--light-color);
  display: flex;
  align-items: center;
  width: 100%;
  height: 40rem;
  margin-bottom: 4rem;
}

.home__texto {
  margin-left: 9.7rem;
  font-family: inherit;
}

.home__texto-h2 {
  font-family: inherit;
  font-weight: 700;
  font-size: var(--font-size-xl);
}

.home__texto-a {
  font-weight: 400;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
}

.home__texto-a:hover {
  color: var(--light-color);
  text-decoration: underline;
  cursor: pointer;
}

.home__sessao-1 {
  background-image: url('src/assets/img-home/home-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.home__sessao-2 {
  background-image: url('src/assets/img-home/home-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.home__sessao-3 {
  background-image: url('src/assets/img-home/home-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.home__sessao-4 {
  background-image: url('src/assets/img-home/home-4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.home__sessao-5 {
  background-image: url('src/assets/img-home/home-5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
