<app-header-branco></app-header-branco>

<div class="home__container">
<div class="home__sessao home__sessao-1">
  <div class="home__texto">
    <h2 class="home__texto-h2">EQUIPAMENTO</h2>
    <a class="home__texto-a" routerLink="/gerenciar-equipamentos"><span>Gerencie os equipamentos</span> > </a>
  </div>
</div>

<div class="home__sessao home__sessao-2">
  <div class="home__texto">
    <h2 class="home__texto-h2">COLABORADOR</h2>
    <a class="home__texto-a" routerLink="/gerenciar-colaboradores"><span>Gerencie os colaboradores</span> > </a>
  </div>
</div>

<div class="home__sessao home__sessao-3">
  <div class="home__texto">
    <h2 class="home__texto-h2">EMPRÉSTIMO</h2>
    <a class="home__texto-a"><span>Veja o histórico de empréstimos</span> > </a>
  </div>
</div>
</div>
