.card-geral {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-geral:hover {
  box-shadow: 4px 20px 40px hsl(0 4% 15% / 30%);
  transition: 0.3s;
}

.card {
  border: none;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  font-family: inherit;
  display: flex;
  flex-direction: column;
}

.status-colaborador {
  font-family: inherit;
  font-weight: 600;
  font-size: var(--font-size-xsm);
  letter-spacing: 0.05em;
  margin-bottom: var(--margin-sm);
  letter-spacing: 0.05em;

  color: rgb(0, 133, 0);
}

.status-colaborador-inativo{
  color: var(--primary-red);
}

.card-text {
  font-weight: 500;
  font-size: var(--font-size-sm);
  color: var(--primary-dark-color);
  margin-top: -1rem;
}

.gerenciar__colaborador__card__a {
  font-weight: 400;
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
}

.gerenciar__colaborador__card__a:hover {
  text-decoration: underline;
}

.gerenciar__equipamento__card__acoes {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.ri-edit-2-line {
  font-size: 4rem;
}


@media screen and (min-width: 768px) {
  .card-geral {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .gerenciar__equipamento__card__acoes {
    margin-right: 1rem;
    width: 4.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
