.card-geral{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
}

.card-geral:hover {
  box-shadow: 4px 20px 40px hsl(0 4% 15% / 30%);
  transition: 0.3s;
}

.card {
  border: none;
  margin-inline: 3rem;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title{
  font-weight: 700;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}

.card-text {
  font-weight: 400;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: var(--primary-dark-color);
}

.gerenciar__colaboradores__card__a{
  font-weight: 400;
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
  color: var(--primary-red);
}

.gerenciar__colaboradores__card__a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.gerenciar__colaboradores__card__acoes{
  margin: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5.6rem;
}

.gerenciar__colaboradores__card__acoes img{
  height: 3.3rem;
}


@media screen and (min-width: 768px) {
  .card-geral{
    display: flex;
    flex-direction: row;
  }

  .gerenciar__colaboradores__card__acoes{
    max-height: 20rem;
    margin-right: 3rem;
    width: 3.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5.6rem;
  }

}
