<div class="card-geral">


  <div class="card">
    <h5 class="card-title"><span>Nome</span></h5>
    <p class="card-text">email</p>
    <a class="gerenciar__colaboradores__card__a">Ver Perfil</a>
  </div>

  <div class="gerenciar__colaboradores__card__acoes">
    <a ><img
        src="../../../../../assets/icones-gerenciamento/editar.png" alt="Editar colaborador"></a>
    <button ><img src="../../../../../assets/icones-gerenciamento/excluir.png"
        alt="Excluir colaborador"></button>
  </div>

</div>
