.container_equipamento_especifico{
  margin: 0 auto;
  max-width: 100%;
  min-height: calc(100vh - 12.9rem);
  padding: 21rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_equipamento{
  width: 100%;
  height: 48rem;
  background-color: #fafafa;
}

.img_equipamento img{
  width: auto;
  height: 48rem;
  margin: 0 auto;
}

.nome_equipamento, .ficha_tecnica{
  text-align: center;
}

.nome_equipamento{
  margin-top: 6.1rem;
}

.nome_equipamento h2{
  font-family: inherit;
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: 4rem;
  letter-spacing: 0.05em;
}

.nome_equipamento h5{
  font-family: inherit;
  font-weight: 300;
  font-size: var(--font-size-md);
  line-height: 2rem;
  letter-spacing: 0.05em;
}

.btn_reserva, .indisponivel{
  margin-block: 6.1rem;
}

.btn_reserva button {
  box-shadow:0px 4px 4px rgba(0,0, 0, 0.25);
  border-radius:30px;
  color: white;
  height:5rem;
  width:16rem;
  font-family: inherit;
  background-color:var(--primary-red);
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
}

.indisponivel button {
  box-shadow:0px 4px 4px rgba(0,0, 0, 0.25);
  border-radius:30px;
  color: white;
  height:5rem;
  width:16rem;
  font-family: inherit;
  background-color:var(--stoke-gray) ;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
}


.btn_reserva button:hover{
  background-color: var(--secondary-red);
}

.ficha_tecnica{
  margin-top: 1rem;
}

.box_ficha_tecnica{
  background: #F6F6F6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: start;
  padding: 2.5rem 3rem;
  margin-bottom: 1.5rem;
}

.ficha_tecnica h3{
  font-family: inherit;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
}

.box_ficha_tecnica h5{
  font-family: inherit;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.05em;
}

.box_ficha_tecnica p{
  font-family: inherit;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: 0.05em;
}
