<app-header></app-header>

<div class="container_equipamento_especifico">

  <div class="img_equipamento">
    <img src="{{ equipamento.urlFoto }}" alt="Imagem do equipamento">
  </div>

  <div class="nome_equipamento">
    <h2>{{ equipamento.modelo }}</h2>
    <h5>Status: <span class="{{ equipamento.status }}">{{ equipamento.status }}</span></h5>
  </div>

  <div *ngIf="isAdmin" class="btn_reserva">
    <button [routerLink]="['/alterar-equipamentos', equipamento.id]">Alterar</button>
  </div>

  <div *ngIf="!isAdmin" class="btn_reserva">
    <button (click)="reservar()">Reservar</button>
  </div>

  <div class="ficha_tecnica container">
    <h3>FICHA TÉCNICA</h3>
    <div class="box_ficha_tecnica">
      <h5>Descrição</h5>
      <p>{{ equipamento.descricao }}</p>
    </div>

    <div class="box_ficha_tecnica">
      <h5>Marca</h5>
      <p>{{ equipamento.marca }}</p>
    </div>

    <div class="box_ficha_tecnica">
      <h5>Categoria</h5>
      <p>{{ equipamento.categoria }}</p>
    </div>
  </div>


</div>
