.termos__container{
  margin-top: 21rem;
  margin-inline: auto;
  width: 90%;
  margin-bottom: 7rem;
}

.termos__container h1{
  font-weight: 700;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  font-family: inherit;
  text-align: center;
  margin-bottom: 5rem;
}

.termos__container__texto{
  font-family: inherit;
  font-size: var(--font-size-sm);
  text-align: justify;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.05em;
}

.termos__container__item{
  margin-bottom: 3rem;
}

.termos__container__item h2{
  font-size: var(--font-size-sm);
  font-weight: 700;
}

.termos__lista__disc{
  list-style: disc;
  padding-left: 3rem
}


