<app-header></app-header>

<section class="gerenciar__colaboradores_container">
  <h1 class="gerenciar__colaboradores__title">Gerenciar Membros</h1>

  <div class="gerenciar__colaboradores__busca">
    <input class="form-control bg-light gerenciar__colaboradores__input" type="text" placeholder="Digite sua busca">
    <button class="btn-buscar">Buscar</button>
  </div>
  <div class="select-group">
    <select class="select form-select" name="categorias">
      <option value="">Todos os status</option>
      <option value="Em Andamento">Em andamento</option>
      <option value="Finalizado">Finalizado</option>
    </select>
  </div>
  <div class="gerenciar__colaboradores__display" >
    <app-card-gerenciar-colaboradores *ngFor="let _ of [].constructor( 10 ); let i = index"></app-card-gerenciar-colaboradores>
  </div>

  <div class="gerenciar__colaboradores__paginacao">
    <button (click)="irParaPaginaAnterior()" [disabled]="page==0"><</button>
    <p class="gerenciar__colaboradores__paginacao__p">Página <span>{{ page + 1 }}</span> de <span>2</span></p>
    <button (click)="irParaProximaPagina()">></button>
  </div>
</section>
