.container__alterar__senha {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21rem;
  margin-bottom: 7.2rem;
  max-width: 100%;
  min-height: calc(100vh - 12.9rem);
}

/* Título da página */

.alterar-senha__titulo {
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  font-family: inherit;
}

.altera__senha__form {
  margin-top: 10rem;
  width: 70%;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: sa;
}

.altera__senha__input {
  height: 5rem;
  border: 1px solid var(--stoke-gray);
  border-radius: 13px;
  font-size:var(--font-size-sm);
  margin-bottom: 3rem;
  margin-top: 0.3rem;
}

.alterar__senha__botoes {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
}

.alterar__senha__botoes button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: white;
  height: 5rem;
  width: 16rem;
}

.alterar__senha__cadastrar {
  background-color: var(--primary-dark-color);
  margin-left: 3rem;
}

.alterar__senha__cadastrar:hover {
  background-color: var(--stoke-gray);
}

/* Erros */
.alterar__senha__erro{
  color: var(--primary-red);
  margin-bottom: 3rem;
  margin-top: -2.8rem;
}
