<app-header></app-header>
<div class="container container__alterar__senha">
  <h1>ALTERAR SENHA</h1>
  <div class="altera__senha__form">
    <form #f="ngForm" (ngSubmit)="alterarSenha(f.value)">
      <div>
        <label class="form-label" for="senha-anterior">SENHA ANTERIOR</label>
        <input class="form-control bg-light altera__senha__input" type="password" id="senha-anterior" ngModel name="senhaAntiga"/>
      </div>

      <div>
        <label class="form-label" for="nova-senha">NOVA SENHA</label>
        <input class="form-control bg-light altera__senha__input" type="password" id="nova-senha" required ngModel name="novaSenha" />
      </div>

      <div>
        <label class="form-label" for="confirmar-nova-senha">CONFIRME A NOVA SENHA</label>
        <input class="form-control bg-light altera__senha__input" type="password" id="confirmar-nova-senha" required ngModel name="confirmaNovaSenha" />
      </div>

      <div class="alterar__senha__botoes">
        <button class="alterar__senha__cadastrar" type="submit">ALTERAR</button>
      </div>
    </form>
  </div>

</div>
