.card-geral{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-geral:hover {
  box-shadow: 4px 20px 40px hsl(0 4% 15% / 30%);
  transition: 0.3s;
}

.card {
  border: none;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body{
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-date{
  font-weight: 300;
  font-size: var(--font-size-sm);
  color: var(--secondary-dark-color);
  letter-spacing: 0.05em;
  margin-bottom: var(--margin-sm);
}

.card-text {
  font-weight: 700;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}

.meu__emprestimo__card__a{
  font-weight: 400;
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
  color: var(--primary-red);
}

.meu__emprestimo__card__a:hover{
  text-decoration: underline;
}

.meu__emprestimo__card__acoes img{
  height: 3.3rem;
}


@media screen and (min-width: 768px) {

  .card-geral{
    display: flex;
    flex-direction: row;
  }

  .btn-devolver {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: white;
    height: 5rem;
    width: 16rem;
    background-color: var(--primary-red);
    margin-left: 3rem;
  }
  
  .btn-devolver:hover {
    background-color: var(--secondary-red);
    color: black;
  }

}
