<div class="card-geral">


  <div class="card" style="max-width: 600px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ equipamento.urlFoto }}" alt="Imagem do equipamento" class="img-fluid rounded-start img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><span>{{ equipamento.status }}</span></h5>
          <p class="card-text">{{ equipamento.marca }} - {{ equipamento.modelo }}</p>
          <a class="gerenciar__equipamento__card__a" [routerLink]="['/detalhar-equipamentos', equipamento.id]">Ver mais
            informações</a>
        </div>
      </div>
    </div>
  </div>

  <div class="gerenciar__equipamento__card__acoes">
    <a [routerLink]="['/alterar-equipamentos', equipamento.id]"><img
        src="../../../../../assets/icones-gerenciamento/editar.png" alt="Editar Equipamento"></a>
    <button (click)="abrirModalExclusao()"><img src="../../../../../assets/icones-gerenciamento/excluir.png"
        alt="Excluir Equipamento"></button>
  </div>

</div>
