<div class="gerenciar__equipamento__card__container">
  <div>
    <img class="gerenciar__equipamento__card__img" src="{{ equipamento.urlFoto }}" alt="Imagem do equipamento">
  </div>
  <div class="gerenciar__equipamento__card__detalhamento">
    <p class="gerenciar__equipamento__card__status">STATUS: <span>{{ equipamento.status }}</span></p>
    <p class="gerenciar__equipamento__card__modelo">{{ equipamento.modelo }}</p>
    <a class="gerenciar__equipamento__card__a" [routerLink]="['/detalhar-equipamentos', equipamento.id]">Ver mais informações</a>
  </div>
  <div class="gerenciar__equipamento__card__acoes">
    <a [routerLink]="['/alterar-equipamentos', equipamento.id]"><img src="../../../../../assets/icones-gerenciamento/editar.png" alt="Editar Equipamento"></a>
    <button (click)="excluir(equipamento.id)"><img src="../../../../../assets/icones-gerenciamento/excluir.png" alt="Excluir Equipamento"></button>
  </div>
</div>
