.card-geral{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-geral:hover {
  box-shadow: 4px 20px 40px hsl(0 4% 15% / 30%);
  transition: 0.3s;
}

.card {
  border: none;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body{
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status-equipamento {
  font-family: inherit;
  font-weight: 600;
  font-size: var(--font-size-xsm);
  letter-spacing: 0.05em;

  color: rgb(0, 133, 0);
}

.status-equipamento-indisponivel{
  color: var(--primary-red);
}

.status-equipamento-inativo{
  color: var(--stoke-gray);
}

.card-text {
  font-weight: 700;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}

.gerenciar__equipamento__card__a{
  font-weight: 400;
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
}

.gerenciar__equipamento__card__a:hover{
  text-decoration: underline;
}

.gerenciar__equipamento__card__acoes{
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.ri-edit-2-line {
  font-size: 4rem;
}

.ri-delete-bin-line {
  font-size: 4rem;
  color: var(--primary-red);
}

@media screen and (min-width: 768px) {

  .card-geral{
    display: flex;
    flex-direction: row;
  }

  .gerenciar__equipamento__card__acoes{
    margin-right: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
  }

}
