<!-- HEADER -->

<header class="header" id="header">
  <nav class="navbar container">
    <a href="#">
      <h2 class="logo">
        <img src="../../../assets/img-header/Logo Branco.png" alt="Logotipo escrito Go Video">
      </h2>
    </a>

    <!-- <div class="menu" id="menu">
      <ul class="list">
        <li class="list__item">
          <a href="#" class="list__link screen-lg-hidden current">Home</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link screen-lg-hidden">Equipamentos</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link screen-lg-hidden">Colaboradores</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link screen-lg-hidden">Empréstimos</a>
        </li>
      </ul>
    </div> -->

    <div class="menu" id="menu">
      <ul class="list">
        <li class="list__item">
          <a href="#" class="list__link">Home</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">Equipamentos</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">Colaboradores</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">Empréstimos</a>
        </li>
      </ul>
    </div>

    <a href="#">
      <h2 class="perfil">
        <img src="../../../assets/img-header/Perfil.png" alt="Logotipo escrito Go Video">
      </h2>
    </a>


    <!-- <div class="list list-right">
      <button class="btn place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
        <i class="ri-menu-3-line open-menu-icon"></i>
        <i class="ri-close-line close-menu-icon"></i>
      </button>
    </div> -->


    <!-- <a href="#" class="list-link screen-sm-hidden btn sign-up-btn fancy-border">
      <span>Log Out</span>
    </a>
    <a href="#" class="list-link screen-sm-hidden">Login</a>
    <a href="#" class="list-link screen-sm-hidden btn sign-up-btn fancy-border">
      <span>Sign Up</span>
    </a> -->
  </nav>
</header>
