<!-- HEADER -->

<header class="header" id="header">
  <div class="logo">
    <img
      src="../../../assets/img-header/Logo Branco.png"
      alt="Logotipo escrito Go Video"
    />
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler btn"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle active"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              EQUIPAMENTOS
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item menu__item" href="#">CADASTRAR</a>
              </li>
              <li><a class="dropdown-item menu__item" href="#">LISTAR</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle active"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              COLABORADORES
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item menu__item" href="#">CADASTRAR</a>
              </li>
              <li><a class="dropdown-item menu__item" href="#">LISTAR</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active">EMPRÉSTIMOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="perfil">
    <div class="nav-link" data-bs-toggle="dropdown">
      <img
        src="../../../assets/img-header/Perfil.png"
        alt="Logotipo escrito Go Video"
      />
    </div>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item menu__item" href="#">MINHA AREA</a>
      </li>
      <li><a class="dropdown-item menu__item" href="#">DESLOGAR</a></li>
    </ul>
  </div>
</header>
