.place-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: var(--secondary-dark-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  padding: 2rem;
  z-index: 10;
}

.logo img {
  height: 4.6rem;
  color: var(--light-color);
  cursor: pointer;
}

.div__menu {
  margin-top: 2rem;
}

.menu__item {
  margin-right: 14px;
}

.submenu__item {
  font-size: 1.4rem;
  align-self: center;
  text-align: center;
}

.menu__dropdown__li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__perfil {
  display: flex;
}

.perfil {
  display: none;
}

.perfil img {
  cursor: pointer;
}


@media(min-width:768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    padding: 0;
  }

  .div__menu {
    height: 9.4rem;
    margin: 0;
  }

  .menu__perfil {
    display: none;
  }

  .menu__perfil__icone {
    display: flex;
  }

  .perfil {
    display: block;
  }
}
