<app-header></app-header>

<section class="equipamento__cadastro__container">
  <h1 class="equipamento__cadastro__titulo">CADASTRAR EQUIPAMENTO</h1>

  <form class="equipamento__cadastro__form" #f="ngForm" (ngSubmit)="cadastrar(f.value)">
    <div>
      <label for="equipamento-cadastro-categoria" class="form-label">CATEGORIA*</label>
      <select id="equipamento-cadastro-categoria" class="form-select  equipamento__cadastro__select bg-light" ngModel name="categoria">
        <option value="Câmeras">Câmeras</option>
        <option value="Filmadoras">Filmadoras</option>
        <option value="Lentes">Lentes</option>
        <option value="Iluminação">Iluminação</option>
        <option value="Acessórios">Acessórios</option>
      </select>
    </div>

    <div>
      <label class="form-label" for="equipamento-cadastro-descricao">DESCRIÇÃO DO EQUIPAMENTO</label>
      <input class="form-control bg-light equipamento__cadastro__input" type="text" id="equipamento-cadastro-descricao" ngModel name="descricao"/>
    </div>

    <div>
      <label class="form-label" for="equipamento-cadastro-marca">MARCA*</label>
      <input class="form-control bg-light equipamento__cadastro__input" type="text" id="equipamento-cadastro-marca" required ngModel name="marca" />
    </div>

    <div>
      <label class="form-label" for="equipamento-cadastro-modelo">MODELO*</label>
      <input class="form-control bg-light equipamento__cadastro__input" type="text" id="equipamento-cadastro-modelo" required ngModel name="modelo" />
    </div>

    <div>
      <label class="form-label" for="equipamento-cadastro-url-imagem">URL DA IMAGEM*</label>
      <input class="form-control bg-light equipamento__cadastro__input" type="text" id="equipamento-cadastro-url-imagem" required ngModel name="urlFoto" />
    </div>

    <div class="equipamento__cadastro__botoes">
      <button class="equipamento__cadastro__limpar" type="reset">LIMPAR</button>
      <button class="equipamento__cadastro__cadastrar" type="submit">CADASTRAR</button>
    </div>
  </form>
</section>
