.equipamento__cadastro__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 23.8rem;

}

/* Título da página */

.equipamento__cadastro__titulo {
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  font-family: inherit;
}

.equipamento__cadastro__form{
  margin-top: 7.7rem;
  width: 70%;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: sa;
}
