.container__cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  min-height: calc(100vh - 12.9rem);
  padding: 21rem;
}

.cadastrar__titulo {
  font-family: inherit;
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 6rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 5.2rem;
}

.cadastra__colaborador__form {
  width: 70%;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: sa;
}

.cadastra__nome__input {
  height: 5rem;
  border: 1px solid var(--stoke-gray);
  border-radius: 13px;
  font-size:var(--font-size-sm);
  margin-bottom: 3rem;
  margin-top: 0.3rem;
}

.cadastro-colaboradores__input__obrigatorio{
  color: var(--primary-red);
}

.cadastra__colaborador__botoes {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
}

.cadastra__colaborador__botoes button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: white;
  height: 5rem;
  width: 16rem;
}

.btn__cadastrar {
  background-color: var(--primary-dark-color);
  margin-left: 3rem;
}

.btn__cadastrar:hover {
  background-color: var(--stoke-gray);
}
