<app-header></app-header>

<section class="equipamento__alteracao__container">
  <h1 class="equipamento__alteracao__titulo">ALTERAR EQUIPAMENTO</h1>

  <form class="equipamento__alteracao__form needs-validation" #f="ngForm" #form novalidate>
    <div>
      <label for="equipamento-alteracao-categoria" class="form-label">CATEGORIA <span class="equipamento__alteracao__input__obrigatorio">*</span></label>
      <select id="equipamento-alteracao-categoria" class="form-select equipamento__alteracao__select bg-light" [(ngModel)]="equipamento.categoria" required name="categoria">
        <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
      </select>
      <div class="invalid-feedback equipamento__alteracao__erro">
        <p>Categoria obrigatória</p>
      </div>
    </div>

    <div>
      <label class="form-label" for="equipamento-alteracao-marca">MARCA <span class="equipamento__alteracao__input__obrigatorio">*</span></label>
      <input class="form-control bg-light equipamento__alteracao__input" type="text" id="equipamento-alteracao-marca" required [(ngModel)]="equipamento.marca" name="marca"/>
      <div class="invalid-feedback equipamento__alteracao__erro">
        <p>Marca obrigatória</p>
      </div>
    </div>

    <div>
      <label class="form-label" for="equipamento-alteracao-modelo">MODELO <span class="equipamento__alteracao__input__obrigatorio">*</span></label>
      <input class="form-control bg-light equipamento__alteracao__input" type="text" id="equipamento-alteracao-modelo" required [(ngModel)]="equipamento.modelo" name="modelo"/>
      <div class="invalid-feedback equipamento__alteracao__erro">
        <p>Modelo obrigatório</p>
      </div>
    </div>

    <div>
      <label class="form-label" for="equipamento-alteracao-url-imagem">URL DA IMAGEM</label>
      <input class="form-control bg-light equipamento__alteracao__input" type="text" id="equipamento-alteracao-url-imagem" [(ngModel)]="equipamento.urlFoto" name="urlFoto" maxlength="255"/>
      <div class="invalid-feedback equipamento__alteracao__erro">
        <p>Esse link é muito comprido. Tente um outro</p>
      </div>
    </div>

    <div class="equipamento__alteracao__botoes">
      <button class="equipamento__alteracao__alterar" (click)="validate($event, equipamento.id, f.value)">ALTERAR</button>
    </div>
  </form>

</section>
