<app-header></app-header>

<section class="equipamento__alteracao__container">
  <h1 class="equipamento__alteracao__titulo">ALTERAR EQUIPAMENTO</h1>

  <form class="equipamento__alteracao__form" #f="ngForm" (ngSubmit)="alterar(equipamento.id, f.value)">
    <div>
      <label for="equipamento-alteracao-categoria" class="form-label">CATEGORIA*</label>
      <select id="equipamento-alteracao-categoria" class="form-select  equipamento__alteracao__select bg-light" [(ngModel)]="equipamento.categoria" name="categoria">
        <option value="cameras">Câmeras</option>
        <option value="filmadoras">Filmadoras</option>
        <option value="lentes">Lentes</option>
        <option value="iluminação">Iluminação</option>
        <option value="acessorios">Acessórios</option>
      </select>
    </div>

    <div>
      <label class="form-label" for="equipamento-alteracao-descricao">DESCRIÇÃO DO EQUIPAMENTO*</label>
      <input class="form-control bg-light equipamento__alteracao__input" type="text" id="equipamento-alteracao-descricao" [(ngModel)]="equipamento.descricao" name="descricao"/>
    </div>

    <div>
      <label class="form-label" for="equipamento-alteracao-marca">MARCA*</label>
      <input class="form-control bg-light equipamento__alteracao__input" type="text" id="equipamento-alteracao-marca" required [(ngModel)]="equipamento.marca" name="marca"/>
    </div>

    <div>
      <label class="form-label" for="equipamento-alteracao-modelo">MODELO*</label>
      <input class="form-control bg-light equipamento__alteracao__input" type="text" id="equipamento-alteracao-modelo" required [(ngModel)]="equipamento.modelo" name="modelo"/>
    </div>

    <div>
      <label class="form-label" for="equipamento-alteracao-url-imagem">URL DA IMAGEM*</label>
      <input class="form-control bg-light equipamento__alteracao__input" type="text" id="equipamento-alteracao-url-imagem" required [(ngModel)]="equipamento.urlFoto" name="urlFoto"/>
    </div>

    <div class="equipamento__alteracao__botoes">
      <button class="equipamento__alteracao__alterar">ALTERAR</button>
    </div>
  </form>

</section>

<!-- <app-footer></app-footer> -->
