<app-header></app-header>
<div id="perfil_container">
  <div class="informacoes_gerais_box">
    <h1>PERFIL</h1>
    <div class="nome">
      <p>NOME: </p>
      <p>{{ usuario.nome }}</p>
    </div>
    <div class="email">
      <p>EMAIL: </p>
      <p>{{ usuario.email }}</p>
    </div>
    <button class="alterar_btn" (click)="alterarSenha()" *ngIf="!isAdmin">ALTERAR MINHA SENHA</button>
    <p class="aviso_perfil"  *ngIf="!isAdmin">(Caso precise alterar os dados, entre em contato com um administrador)</p>
  </div>

  <div class="historico_emprestimos_box">
    <h1>HISTÓRICO DE EMPRÉSTIMOS</h1>
    <div class="meu__emprestimo__display" *ngFor="let emprestimo of emprestimos.content">
      <app-card-perfil [emprestimo]="emprestimo"></app-card-perfil>
    </div>
  </div>
</div>
