<app-header></app-header>
<div id="perfil_container">
  <div class="informacoes_gerais_box">
    <h1>PERFIL</h1>
    <div class="email">
      <p>EMAIL:</p>
      <p>lalaland@email.com</p>
    </div>
    <div class="nome">
      <p>NOME:</p>
      <p>lalaland</p>
    </div>
    <div class="senha">
      <p>SENHA:</p>
      <p>lalaland123</p>
    </div>
    <button class="alterar_btn" (click)="alterarSenha()">ALTERAR MINHA SENHA</button>
    <p class="aviso_perfil">(Caso precise alterar os dados, entre em contato com um administrador)</p>
  </div>

  <div class="historico_emprestimos_box">
    <h1>HISTÓRICO DE EMPRÉSTIMOS</h1>
    <div class="meu__emprestimo__display" *ngFor="let emprestimo of emprestimos.content">
      <app-card-meus-emprestimos [emprestimo]="emprestimo"></app-card-meus-emprestimos>
    </div>
  </div>
</div>
