/* You can add global styles to this file, and also import other style files */


/*

- CONFIGURAÇÕES GERAIS

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --light-color: #fff;
  --light-color-alt: #F6F6F6;
  --primary-dark-color: #000000;
  --secondary-dark-color: #1B1B1B;
  --primary-red: #9B0600;
  --secondary-red: #F9C4AE;
  --stoke-gray: #747474;

  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;

  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);

  --transparent-light-color: rgba(255, 255, 255, 0.05);
  --transparent-dark-color: rgba(0, 0, 0, 0.75);

  --gradient-color: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    ,
    #a767e5,
    #12bcfe,
    #44ce7b
  );

  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

html {
  /* para setar o tamanho da fonte pra 10px; */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--primary-dark-color);
  background-color: var(--light-color);
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

i {
  font-size: var(--font-size-md);
}
